{% extends "redondos_app/padre.html" %}
{% load static %}

    <!--titulo-->
    {% block contenidoTitulo %}

    <br>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">Formulario de Compactos</h2>
    {% endblock %}

<!--accion!-->
{% block contenidoQueCambia %}

<form action="{% url 'compactosFormulario' %}" method="POST">{% csrf_token %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Para ingresar un nuevo Compacto, <br class="text-white-50 mx-auto mt-2 mb-5">ingrese nombre y año:</h3>

        <table>
            {{miFormulario.as_p}}
        </table>
    <input type='submit' value='Enviar Formulario api'>
<form>
    <div class="container px-4 px-lg-5">
        <p class="">
            <p class="text-white-50 mx-auto mt-2 mb-5">Si desea buscar algún Compacto:
            <a href="{% url 'busquedaCompactos'%}">clic aquí</a>
            .
        </p>
    </div>

{% endblock  %}
