{% extends "redondos_app/padre.html" %}
{% load static %}

    <!--titulo-->
    
    {% block contenidoTitulo %}
    <h2 class="text-white-50 mx-auto mt-2 mb-5">Formulario de Integrante</h2>
    {% endblock %}

<!--accion!-->
{% block contenidoQueCambia %}

<form action="{% url 'integrantesFormulario' %}" method="POST">{% csrf_token %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Para ingresar un nuevo Integrante, <br>ingrese nombre y apellido:</h3>

        <table >
            <FONT color="silver">{{miFormulario.as_p}}</FONT>
        </table>
    <input type='submit' value='Enviar Formulario api'>
<form>
    <div class="container px-4 px-lg-5">
        <p class="">
            <p class="text-white-50 mx-auto mt-2 mb-5">Si desea buscar algún integrante: 
            <a href="{% url 'busquedaIntegrantes'%}">clic aquí</a>
            .
        </p>
    </div>

{% endblock  %}
