{% extends "redondos_app/padre.html" %}
{% load static %}

{% block contenidoTitulo %}
<h4 class="text-white-50 mx-auto mt-2 mb-5">BLOG DE RECITALES</h4>
{% endblock %}

{% block contenidoQueCambia %}

<br>

<h2 class="text-white-50 mx-auto mt-2 mb-5">SECCION RECITALES</h2>
<div class="text-white-50 mx-auto mt-2 mb-5">

    <li>NOMBRE: {{recitales.nombre}}</li>
    <li>APELLIDO: {{recitales.apellido}}</li>
    <li>FECHA: {{recitales.fecha}}</li>
    <li>LUGAR: {{recitales.lugar}}</li>
    <li>ANECDOTA: {{recitales.anecdota}}</li>
</div>
<a href="{% url 'listaRecitales' %}">Volver</a>

{% endblock %}


