{% extends "redondos_app/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<br>
<div class="text-center">
    <h1 class="mx-auto my-0 text-uppercase">Sobre mi: </h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">¡Hola!

        Mi nombre es Bruno Arias, vivo en Adrogue y ya soy programador jr. Actualmente me dedico al 100% al aprendisaje y la practica de python.
        
        Puedes encontrarme regularmente en twitter (@BrunoArias09), Instagram(Brunoarias09).
        
        O si lo prefieres, escríbeme a Brunoarias09@gmail.com.
        
         </h2>
</div>

{% endblock %}
